<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
   <p>Bonjour <%= current_user.first_name %></p>
  <% else %>
  <h1>Bonjour </h1>
<% end %>


<h1>Coucou</h1>
<h2>Test</h2>
